.createSet-modal {
  display: block;
  background-color: rgba(128, 128, 128, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.error-message {
  color: red;
  margin: 10px;
}

.createSet-modal.hidden {
  display: none;
}

.createSet-card {
  overflow-y: auto;
  background-color: #fff;
  width: 60vw;
  height: 60vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  border-radius: 40px;

  .setInformation {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .setDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    select {

      width: 15vw;
    }
  }

  .setDescription {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    textarea {
      width: 100%;
      height: calc(100% - 20px); /* Adjust to fit inside the container */
      padding: 10px;
      box-sizing: border-box;
      resize: none;
      border-radius: 25px;
    }
  }

  .reject-icon {
    position: absolute;
    top: 1vh;
    right: 1vw;
    cursor: pointer;
    z-index: 1002;
  }

  .createSetForm,
  .hiddenPasswordField {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    top: 5%;

    input {
      margin: 10px;
      padding: 10px;
      border-radius: 10px;
      width: 15vw;
      border: 1px solid #000;
    }

    button {
      margin-top: 2vh;
    }
  }
}
